<!DOCTYPE html>
<html lang='en'>
<head>
	<% include ../partials/head %>
</head>

<body>

<header>
	<% include ../partials/header %>
</header>

<main>
	
	<div id="live-selected-container">
        <div class="selected-ico-btn">
            <img src="/public/assets/live-ico.svg">
        </div>
    </div>
    <div id="upcoming-selected-container">
        <div class="unselected-ico-btn">
            <img src="/public/assets/upcoming-ico.svg">
        </div>
    </div>

    <div id="about-container">
        <div id="about-text">
            <h3> Welcome to Hub! </h3>
            <p> With Hub, you can discover the latest in ICO oppurtunities all around the Cryptocurrency world. Since the ICO data on the lists are updated reguarly,</p>
            <p>Hub allows you to stay up to date with all of the current and upcoming ICO launches around the globe.</p>

        </div>
    </div>

    <div id="live-ico-list" class="ico-container">
       
            <% for(let i = 0; i < ico.live.length; i++) { %>
                <% if (i % 2 === 0) { %>
                <div class="ico-box"> 
                    <div>
                       <a target="_blank" href="<%= ico.live[i].website_link %>"> <img src="<%= ico.live[i].image %>"> </a>
                    </div>
                    <div>
                        <span class="identifier">
                           <p> Name: </p>
                        </span>
                         <p> <%= ico.live[i].name %> </p>
                        
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Description: </p>
                        </span>
                        <p class="ico-description"> <%= ico.live[i].description %> </p>
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Ending: </p>
                        </span>
                      
                        <p>  <%= ico.live[i].end_time %> </p>
                
                    </div>
                </div>
                <% } else { %> 
                 <div class="ico-box ico-alt-box"> 
                    <div>
                       <a target="_blank" href="<%= ico.live[i].website_link %>"> <img src="<%= ico.live[i].image %>"> </a>
                    </div>
                    <div>
                        <span class="identifier">
                           <p> Name: </p>
                        </span>
                         <p> <%= ico.live[i].name %> </p>
                        
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Description: </p>
                        </span>
                        <p class="ico-description"> <%= ico.live[i].description %> </p>
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Ending: </p>
                        </span>
                      
                        <p>  <%= ico.live[i].end_time %> </p>
                
                    </div>
                </div>
            <% } %>
            <% } %>
         

    </div>

    <div id="upcoming-ico-list" class="ico-container">
       
            <% for(let i = 0; i < ico.upcoming.length; i++) { %>
                <% if (i % 2 === 0) { %>
                <div class="ico-box"> 
                    <div>
                       <a target="_blank" href="<%= ico.upcoming[i].website_link %>"> <img src="<%= ico.upcoming[i].image %>"> </a>
                    </div>
                    <div>
                        <span class="identifier">
                           <p> Name: </p>
                        </span>
                         <p> <%= ico.upcoming[i].name %> </p>
                        
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Description: </p>
                        </span>
                        <p class="ico-description"> <%= ico.upcoming[i].description %> </p>
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Starting: </p>
                        </span>
                      
                        <p>  <%= ico.upcoming[i].start_time %> </p>
                
                    </div>
                </div>
                <% } else { %> 
                 <div class="ico-box ico-alt-box"> 
                    <div>
                       <a target="_blank" href="<%= ico.upcoming[i].website_link %>"> <img src="<%= ico.upcoming[i].image %>"> </a>
                    </div>
                    <div>
                        <span class="identifier">
                           <p> Name: </p>
                        </span>
                         <p> <%= ico.upcoming[i].name %> </p>
                        
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Description: </p>
                        </span>
                        <p class="ico-description"> <%= ico.upcoming[i].description %> </p>
                    </div>
                    <div>
                        <span class="identifier">
                            <p> Starting: </p>
                        </span>
                      
                        <p>  <%= ico.upcoming[i].start_time %> </p>
                
                    </div>
                </div>
            <% } %>
            <% } %>
         

    </div>
   

</main>

<footer>

	<% include ../partials/footer %>

</footer>

</body>
</html>